{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password"  id="txtNewPassword" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id="txtConfirmPassword" placeholder="Password (again)"  type="password">
        </div>
        <button class="btn btn-primary" type="submit" onclick="checkPasswordMatch();">Register</button>
    </form>

<!--    <script>-->
<!--        function checkPasswordMatch() {-->
<!--    var password = $("#txtNewPassword").val();-->
<!--    var confirmPassword = $("#txtConfirmPassword").val();-->

<!--    if (password != confirmPassword)-->
<!--        alert("passord not match");-->
<!--}-->

<!--$(document).ready(function () {-->
<!--   $("#txtNewPassword, #txtConfirmPassword").onclick(checkPasswordMatch);-->
<!--});-->
<!--    </script>-->
{% endblock %}



